<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>QuizzApp</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <h1 id="title"></h1>
  <div id="question-info">
    <h2>
      <span id="category-tag"></span>
      <span id="category"></span>
    </h2>
    <h2>
      <span id="difficulty-tag"></span>
      <span id="difficulty"></span>
    </h2>
  </div>
  <p id="question"></p>
  <div id="btnArea"></div>

  <script src="./main.js"></script>
</body>
</html>